

.container6 {
	height: 400px;
	margin: 100px 100px;
	background-color: rebeccapurple;
}

.container6 .top{
	height: 300px;
}

.container6 .top .content{
	height: 300px;
	float:left;
}

.container6 .top .content{
	width:100%;

}

.container6 .top .content .inner{
	background-color: blue;
	margin:0 200px;
	height: 100%;
}


