*{
	margin: 0;
	padding: 0;
}

/*#left {*/
	/*float: left;*/
	/*width: 220px;*/
	/*background-color: green;*/
/*}*/

/*#content {*/
	/*background-color: orange;*/
	/*margin-left: 220px;*/
/*}*/

#container{
	background-color: red;
	width:600px;
	height:400px;
	font-size:0;
}

#left, #content{
	height: 100%;
	display: inline-block;
}
#left {
	width: 200px;
	background-color: green;
}

#content {
	width: 400px;
	background-color: orange;

}
