html,body {
	height:100%;
}

* { padding:0;
	margin:0;
	color:#fff;
	text-decoration:none;
	list-style:none;
	font-family:"微软雅黑"
}

.aside{
	background:#f00;
	width:170px;
	float:left;
	height:300px;
}

.main{
	background:#090;
	height:100%;
	overflow: hidden;
}

.outer{
	width:300px;
	border:1px solid #666;
	padding:10px;
	overflow: hidden;
}
.innerLeft{
	height:100px;
	width:100px;
	float:left;
	background:#f00;
}
.innerRight{
	height:100px;
	width:100px;
	float:right;
	background:#090;
}
.mg {
	overflow:hidden;
}
.rowone{
	background:#f00;
	height:100px;
	margin-bottom:20px;
	overflow:hidden;
}
.rowtow{
	background:#090;
	height:100px;
	margin-top:20px;
	position:relative;
}